body {
	background: #000;
	font-family: Arial, Verdana, sans-serif;
	color: #FFF;
	font-size: 13px;
}

#wrapper {
	width: 340px;
	height: 520px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -260px;
	margin-left: -170px;
}

#overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 4;
	background: #000;
	opacity: 1;
	-webkit-transition: opacity 1s ease;
}

#overlay.invisible {
	opacity: 0;
}

#screen {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: url('/images/gamify-background.png') no-repeat center center;
	background-size: contain;
	z-index: 2;
}

#gamify {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 20px;
	z-index: 3;
	background: rgba(0,0,0,0.95);
}

#gamify td {
	vertical-align: top;
}

#gamify .profileIcon {
	background: url('/images/badges/globe.png') no-repeat center center;
	width: 50px;
	height: 50px;
	background-size: contain;
}

#name {
	font-size: 18px;
}

#name span {
	font-size: 16px;
	color: rgba(255,255,255,0.6);
}

#chart {
	position: relative;
}

h3 {
	margin: 12px 0px;
}

.key {
	position: absolute;
	left: 140px;
	top: 0px;
}

.key .elem {
	padding: 0px 0px 15px 0px;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease;
}

.key .elem.visible {
	opacity: 1;
}

.key .elem span {
	display: inline-block;
	padding-left: 4px;
}

.key .ico {
	display: inline-block;
	width: 15px;
	height: 12px;
	border-radius: 3px;
	position: relative;
	top: 2px;
}

.key .elem.bicycle .ico {
	background: #F7463A; 
}

.key .elem.walking .ico {
	background: #46BFBD;
}

.key .elem.bus .ico {
	background: #FDB45C;
}

.key .elem.car .ico {
	background: #FF9900;
}

#percentage {
	position: relative;
	width: 0%;
	height: 35px;
	border-radius: 3px;
	background: rgba(255,255,255,0.2);
	-webkit-transition: width 0.5s ease;
}

#percentage.visible {
	width: 100%;
}

#percentage .message {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
	font-size: 18px;
	line-height: 35px;
	z-index: 2;
	opacity: 0;
	-webkit-transition: opacity 1s ease;
}

#percentage.visible .message {
	opacity: 1;
}

#percentage .bar {
	background: #53CA16;
	position: absolute;
	z-index: 1;
	border-radius: 3px;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 22%;
}

#credits {
	position: relative;
	width: 0%;
	height: 35px;
	border-radius: 3px;
	background: rgba(255,255,255,0.2);
	-webkit-transition: width 0.5s ease;
}

#credits.visible {
	width: 100%;
}

#credits .message {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
	font-size: 18px;
	line-height: 35px;
	z-index: 2;
	opacity: 0;
	-webkit-transition: opacity 1s ease;
}

#credits.visible .message {
	opacity: 1;
}

#credits .bar {
	background: #0182C6;
	position: absolute;
	z-index: 1;
	border-radius: 3px;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 14%;
}

div.or {
	text-align: center;
	font-size: 16px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
	font-weight: bold;
}

.award {
	color: #000;
	text-align: center;
	border-radius: 3px;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease;
}

.award.visible {
	opacity: 1;
}

.award .value {
	padding: 10px 15px;
	border-radius: 3px;
	background: rgba(0,0,0,0.15);
	font-size: 16px;
	font-weight: bold;
}

.award .name {
	padding: 5px 15px;
}

.award.gold {
	background: #EBCA3F;
}

.award.silver {
	background: #C0C0C0;
}
