/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #A7A7A7),
    color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    
    width:100%;
    overflow:hidden;
}
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#mapDiv {
    height: 100%;
    width: 100%;
    margin: 0px;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
h2 {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    margin:0px;
    text-align:left;
    color:#fff !important;
    
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


#menu-main {
    
    
    display:block;
    position:absolute;
    
    bottom:20px;
    border:3px #ccc solid;
    
    
    background: url(../images/menu/bg-round-button.png) repeat top left;
}
.menu-icon {
    display:none;
    position:absolute;
    
}
.container-hidden {
    display:none;
}

#route-info, #fac-info{
    
    position:absolute;
    top:0px;
    width:100%;
    min-height:30px;
    display:block;
    border-bottom:3px #ccc solid;
    left:0px;
    background: url(../images/menu/bg-round-button.png) repeat top left;
}
.facimg {
    float:left;
    width:50%;
    display:inline-block;
}
.facimg img {
    width:100%;
}
#route-planner, #search {
    display:none;
    position:absolute;
    top:0px;
    width:90%;
    min-height:30px;
    padding:5%;
    
    border-bottom:3px #ccc solid;
    left:0px;
    background: url(../images/menu/bg-round-button.png) repeat top left;
    z-index:1000000000000;
}
img#nav-right {
    display:inline-block;
    width:10%;
    padding:10px;
    float:right;
}
#nav-info{
    padding: 10px;
    display:inline-block;
    float:left;
    max-width:80%;
    color:#fff;
}

#nav-info p {
    margin:0 0 5px 0;
    line-height: 1em;
    font-size: 1.8em;
    
    
}
#nav-info span {
    font-size: 1.4em;
    line-height: 1em;
    
    
}
.esriSimpleSlider {
    display:none;
    background-color: none;
    border:none;
    
    color:#ccc;
    background:none;
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton, .esriSimpleSliderVertical .esriSimpleSliderDecrementButton {
    border:2px solid #ccc;
    background: url(../images/menu/bg-round-button.png) repeat top left !important;
    border-radius:18px;
    margin-bottom:6px;
}
.esriAttributionLastItem {
    display:none;
}
#events {
    height:70%;
    overflow-y: scroll;
    
}
#events div i {
    cursor: pointer;
}

label {
    color:#fff;
}