body {
	background: #000;
	font-family: Arial, Verdana, sans-serif;
	color: #FFF;
	font-size: 13px;
}

#wrapper {
	width: 320px;
	height: 578px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -289px;
	margin-left: -160px;
}

#mainImage {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background: url('/images/notify-bg.jpg') no-repeat center center #000;
	background-size: contain;
	z-index: 2;
}

#message {
	border-top: 1px solid rgba(255,255,255,0.4);
	border-bottom: 1px solid rgba(255,255,255,0.4);
	padding: 15px 20px;
	position: absolute;
	top: 200px;
	left: 0px;
	right: 0px;
	z-index: 3;
	background: rgba(255,255,255,0.1);
	opacity: 0;
	-webkit-transition: opacity 0.5s ease;
}

#message.visible {
	opacity: 1;
}

#message p {
	margin: 0px;
	padding: 0px;
}

#message td {
	vertical-align: top;
}

#message .icon {
	background: url('/images/icon-76@2x.png') no-repeat center center;
	background-size: contain;
	width: 32px;
	height: 32px;
	margin-right: 20px;
	border-radius: 3px;
}

#overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 4;
	background: #000;
	opacity: 1;
	-webkit-transition: opacity 1s ease;
}

#overlay.invisible {
	opacity: 0;
}

#message b span {
	color: rgba(255,255,255,0.6);
	font-weight: normal;
	font-size: 11px;
}

#message small {
	color: rgba(255,255,255,0.6);
}